body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #33827b;
}

html,
body {
  font-size: 10px;
}

@media screen and (orientation: landscape) {
  html,
  body {
    font-size: 16px;
  }
}
